*{
    margin: 0px;
    padding:0px;
}
body{
    width:100%;
    display:-webkit-box;
    -webkit-box-pack:center;
}
h1 {
  color: #ffffff;
  text-align: center;
  margin: 15px;
}
main{
  overflow-y: auto;
}
.main-wrapper{
    max-width:1000px;
    margin:20px 0px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;
}
.navbar{
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
}
.mainSection{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
}
.sidebarInfo{    
    padding: 30px;    
    background-color: #D8D8D8;
    width:220px;
    margin:20px 0px;
    height:100%;
}
.mainContent {
    -webkit-box-flex: 1;
    margin:20px;
    background-color: lavender;
    padding:20px;
}
#main {
    position: relative;
    height: 100%;
    margin:20px;
    padding: 20px;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;
    margin:20px 0px;
    padding:20px;
}
 footer {
    background-color: #000;
    color: #ffffff;
    height:80px;
    text-align: center;
    padding:20px;
    border-top: 3px solid black;
}

h2 h3{
  margin-bottom: 15px;
  float: left;
  padding-left: 10px;
  color:#a6a6a6;
}

 uib-slide img {
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    border: 2px solid #fff;
    position:absolute;
    }
  img{
  display:block;
  margin:auto;
  width: 60%;
}
    :hover {
      box-shadow: 0px 1px 4px #444;
      transition: all .2s ease-in-out;
      border-color: #fff;
    }
    
    :active {
      opacity: .74;
      box-shadow: 0px 1px 8px #666;
    }
#imgList{
    list-style-image: none;
    display: inline-block;
}
.image-thumbnail{
  float:left;
}
.playlist ul {
    list-style-type: none;
}

.playlist ul a {
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}

.playlist ul a:visited {
    color: #428bca;
}

.playlist ul a:hover {
    color: #428bca;
    text-decoration: underline;
}
.image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.image-list > img {
  cursor: pointer;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 20%;
  width: 100%;
}
.image-list > img:hover {
  opacity: 0.8;
}
.band-image > img {
  height: auto;
  width: 100%;
}


.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

.videogular-container .skipButton {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    color: white;
    cursor: pointer;
    background-color: #666666;
    border: 2px #FFFFFF solid;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.booking-form {
  margin-top: 20px;
}
.radio label {
  text-transform: capitalize;
}
.preview {
  list-style-type: none;
  font-weight: 700;
  padding-left: 0;
}
.preview li {
  margin-bottom: 5px;
}
form ul {
  padding-left: 0;
  list-style-type: none;
}
form .eventType {
  padding: 10px 15px;
  background-color: #ffffff;
  cursor: pointer;
  color: #337ab7;
  border-radius: 4px;
  text-transform: capitalize;
  margin-bottom: 0;
  width: 100%;
  border: none;
  text-align: left;
}
form .eventType span {
  float: right;
}
form .eventType.active {
  background-color: #337ab7;
  color: #ffffff;
}
form .eventType.active:hover {
  background-color: #337ab7;
  color: #ffffff;
}
form .eventType.active,
form .eventType:hover {
  outline: none;
}
.form-control:focus {
  border-color: #ccc;
  webkit-box-shadow: none;
  box-shadow: none;
}
form .eventType:hover {
  background-color: #eee;
  color: #23527c;
}
form label em {
  display: block;
  font-size: 12px;
}
form textarea {
  width: 100%;
  min-height: 115px;
}
form .ng-invalid.ng-dirty {
  border-color: #FA787E;
}
form .ng-valid.ng-dirty {
  border-color: #78FA89;
}
form .form-valid {
  color: #FA787E;
}
form .form-valid.active {
  color: #78FA89;
}
.required {
  color: red;
}
.btn-group .btn.btn-sm.btn-info.ng-binding {
  display: none;
}
.btn-group .btn.btn-sm.btn-danger.ng-binding {
  border-radius: 3px;
}
