<h3 ng-model="memberTitle">{{memberTitle}}</h3>
	<div class="col-sm-3">
		<div id="imgWrapper">
			<ul id=imgList>
				<li ng-repeat="member in members">
					ng-src="{{member.image}}"
				</li>				
			</ul><br />
			<h4 class="imgTitle" ng-model="member.name"><strong>{{member.name}}</strong></h4><br />
		    <p class="desc" ng-model="member.description">{{members.description}}</p>
		</div>
	</div>

<!--<div ng-controller="AboutController">	
	<h3 ng-model="memberTitle">{{memberTitle}}</h3>
  <div class="photo">
    <div class="container">
      <img ng-src="{{members.img}}">
      <h4 class="photo-title"><strong> {{members.name}}</strong></h4>
      <p class="member-description"> by {{ member.description}} </p>
    </div>
  </div>
</div>-->

