<h3 ng-model="memberTitle">{{memberTitle}}</h3>
	<div class="img-wrapper">
		<ul  style="list-style-type:none">
			<li ng-repeat="member in members">
				<div class="clearfix"> 
				<img class="img-thumbnail" ng-src="{{member.image}}" alt="member.name">
				<h4 class="imgTitle"><strong>{{member.name}}</strong></h4>
				<p>{{member.description}}</p>
				</div>
	    	</li>				
		</ul>
	</div>

<!--<div ng-controller="AboutController">	
	<h3 ng-model="memberTitle">{{memberTitle}}</h3>
  <div class="photo">
    <div class="container">
      <img ng-src="{{members.img}}">
      <h4 class="photo-title"><strong> {{members.name}}</strong></h4>
      <p class="member-description"> by {{ member.description}} </p>
    </div>
  </div>
</div>-->

