  <h3 ng-model="booking.Title">{{booking.Title}}</h3>
  <form name="bookingForm" method="post" ng-submit="bookingForm.$valid && handleFormSubmit(booking)" novalidate="" ng-hide="message">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="firstName">First Name
            <span class="required">*</span>
          </label>
          <input ng-model="booking.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="lastName">Last Name
            <span class="required">*</span>
          </label>
          <input ng-model="booking.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="" />
        </div>
      </div>
    </div>
    <div class="row">  
      <div class="col-sm-4">
        <div class="form-group">
          <label for="email">Email
            <span class="required">*</span>
          </label>
          <input ng-model="booking.email" type="email" class="form-control" id="email" name="email" placeholder="Email" required="" />
        </div>
      </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="telephone">Phone Number</label>
            <input ng-model="booking.telephone" type="text" class="form-control" id="telephone" name="telephone" placeholder="Telephone"/>
          </div>
        </div>
      </div>
<!-- /.row -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="startDate">required Date 
              <span class="required"> *</span>
            </label>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened1" min-date="minDate" max-date="" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-model="booking.startDate" name="startDate" id="startDate" ng-required="true" close-text="Close" ng-click="open($event)" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
          </div>
        </div>
        <div class="col-sm-4">
        <div class="form-group">
          <label for="endDate">End Date
          <span class="required"> *</span>
          </label>
            <p class="input-group">
            <input type="text" ng-disabled="!booking.startDate" class="form-control" datepicker-popup="{{format}}" ng-model="booking.endDate" name="endDate" id="endDate" is-open="opened2" min-date="booking.startDate" max-date="" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open2($event)" />
            <span class="input-group-btn">
              <button type="button" ng-disabled="!booking.startDate" class="btn btn-default" ng-click="open2($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
            </p>
          </div>
        </div>
      </div>
<!-- /.row -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="Events">Type of Events<span class="required"> *</span>
            </label>
            <select ng-model="booking.event" class="form-control" name="EventType" id="Event" required="">
              <option value="3">Wedding</option>
              <option value="4">Corporate</option>
              <option value="5">Hotel Events</option>
              <option value="6">Other Events</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Event Cost Options<span class="required"> *</span>
          <em>(Select from below options)</em>
          </label>
        <ul>
          <li ng-model="booking.eventType" ng-repeat="event in form.events" ng-click="form.selectEvent(event);" ng-class="{active:event.active}" class="eventType">{{event.name}} - {{event.description}}          
          <span>{{event.price | currency}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="message">Message
          <em>Contact address, specific arrangement requirements, any other information</em>
          </label>
          <textarea placeholder="Vacation address, specific dietery requirements, any other information" ng-model="booking.message" name="message" id="message" cols="30" rows="5"></textarea>
        </div>
      </div>
    </div>
<!-- /.row -->
      <div class="form-group">
        <label class="total" for="total">Total:
          <span>{{booking.total | currency}}</span>
          <em ng-show="booking.discount">(10% Discount of <span>{{booking.total | currency}} applied)</span>
          </em>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" ng-disabled="mealForm.$invalid" value="Submit" class="btn btn-default">Submit</button>
        <input type="hidden" ng-model="booking.eventType" name="eventType" />
        <input type="hidden" ng-model="booking.total" name="total" />
        <input type="hidden" ng-model="booking.percentage" name="discount" />
      </div>
  <!-- /.panel -->
  <!-- Success message -->
      <div ng-show="message">
        <p>Form submitted succesfully! Thank you for contacting us. We aim to respond to all enquiries within 24hrs. </p>
      </div>
    <!--Special cases-->
      <div class="panel custom_form" ng-show="panel.isSelected(2)">
        <h4>Special Requirements</h4>
        <p>If you require a more bespoke booking please contact us.</p>
      </div>
  </form>



        <!---<div class="col-sm-6">    
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" class="form-control" ng-model="booking.email" placeholder="Email" required="" />
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="telephone">Phone Number:</label>
        <input type="text" id="phone" name="phone" class="form-control" ng-model="booking.phone" placeholder="telephone" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="requiredDate">Date Required</label>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" date="Date" datepicker-options="dateOptions" date-disabled="(date, mode)" ng-model="booking.date" name="date" id="date" ng-required="true" close-text="close" ng-click="open($event)" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)">
          <i class="glyphicon glyphicon-calendar"></i>            
          </button>            
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="booking">Booking</label>
      <select class="form-control" id="event" name="event" ng-model="eventList">
        <option value="Wedding">Wedding</option>
        <option value="Corporate">Corporate</option>
        <option value="Other">Social</option>
      </select>
      </div>
    </div>
  <div class="row"
    <div class="col-sm-6">
      <div class="form-group">
        <label for="message">Message: </label>
        <textarea name="message" id="message" ng-model="booking.message" cols="30" rows="5" placeholder="Event type, event address, duration requirements, other specific information"></textarea>
      </div>
    </div>
  </div>
    <div class="form-group">
      <button type="submit" value="Submit" ng-disabled="bookingform.$invalid" class="btn btn-default">Make a Booking</button>
    </div>
  </form>  
<div ng-show="message">
  <p>Form submitted succesfully! Thank you for contacting us. We aim to respond to all enquiries within 24hrs. </p>
</div>-->