 |<div>
    <a>
        <span class="glyphicon glyphicon-step-backward"></span>
    </a>
    <a>
        <span class="glyphicon glyphicon-play"></span>
    </a>
    <a>
        <span class="glyphicon glyphicon-pause"></span>
    </a>
    <a>
        <span class="glyphicon glyphicon-step-forward"></span>
    </a>
</div>

<div>
    <a>
        <span class="glyphicon glyphicon-step-backward" ng-click="myPlayerService.previous()"></span>
    </a>
    <a>
        <span class="glyphicon glyphicon-play" ng-click="myPlayerService.play()"></span>
    </a>
    <a>
        <span class="glyphicon glyphicon-pause" ng-click="myPlayerService.pause()"></span>
    </a>
    <a>
        <span class="glyphicon glyphicon-step-forward" ng-click="myPlayerService.next()"></span>
    </a>
</div>